.story-card-container {
  background-color: #7E8D85;
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 600px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  margin: 20px 0 50px 425px;
  height: fit-content;
  padding-bottom: 40px;
}

