h1 {
  font-size: 50px;
  font-family: "Abhaya Libre";
  padding: 20px 0 0 0;
  color: #3C493F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-story-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-p-text {
  color:#3C493F;
  font-family: "Fleur De Leah";
  font-size: 35px;
  margin-bottom: 100px;
}

.add-story-btn {
  background-color: #B3BFB8;
  color: #3C493F;
  border: none;
  height: 35px;
  width: 200px;
  font-family: "Abhaya Libre";
  font-size: 20px;
  border-radius: 5px;
  margin: -30px 0 30px 0;
}

.x-out-story-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 370px;
  margin-bottom: -82px;
}

.x-out-story-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3C493F;
  color:#B3BFB8;
  height: 25px;
  width: 25px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
}