 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine&display=swap'); 

h1 {
  font-size: 50px;
  font-family: "Abhaya Libre";
  padding: 20px 0 0 0;
  color: #3C493F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-advice-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-p-text {
  color:#3C493F;
  font-family: "Tangerine";
  font-size: 35px;
  margin-bottom: 100px;
}

.add-advice-btn {
  background-color: #B3BFB8;
  color: #3C493F;
  border: none;
  height: 35px;
  width: 200px;
  font-family: "Abhaya Libre";
  font-size: 20px;
  border-radius: 5px;
  margin: 0 0 60px 0;
}

.add-advice-btn:hover {
  background-color: #69716d;
  color: white;
}