@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine&display=swap'); 

.login-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left-content {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-family: "Tangerine";
  font-size: 200px;
  color: #3c493f;
  font-weight: 100;
  margin: unset;
  padding: unset;
}

.login-mission-stmt {
  font-family: "Abhaya Libre";
  color: #7e8d85;
  font-size: 50px;
  font-weight: 100;
  margin: unset;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a2e3c4;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login-form-input {
  background-color: #f0f7f4;
  border: none;
  width: 300px;
  height: 50px;
  margin: 10px;
  font-family: "Abhaya Libre";
  font-size: 25px;
  border-radius: 5px;
}

.login-btn {
  width: 300px;
  height: 45px;
  border: none;
  background-color: #3c493f;
  color:#f0f7f4;
  font-family: "Abhaya Libre";
  font-size: 25px;
  margin: 5px;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #F0F7F4;
  color: #3C493F;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

.create-acct-btn {
  width: 200px;
  height: 35px;
  background-color: #b3bfb8;
  color:#3c493f;
  border: none;
  margin: 15px;
  font-family: "Abhaya Libre";
  font-size: 18px;
  border-radius: 5px;
}

.create-acct-btn:hover {
  background-color: #F0F7F4;
  color: #3C493F;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

.auth-content-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

@media only screen and (min-width:320px) and (max-width:600px) {
  .auth-content-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    height: 100vh;
  }

  .login-title {
    font-size: 100px;  
  }

  .login-mission-stmt {
    font-size: 25px;
  }

  .login-form {
    height: 200px;
    width: 200px;
  }

  .login-form-input {
    width: 150px;
    height: 25px;
    font-size: 15px;
  }

  .login-btn {
    width: 150px;
    height: 25px;
    font-size: 15px;
  }

  .create-acct-btn {
    width: 100px;
    height: 15px;
    font-size: 10px;
  }
  
}