 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine&display=swap'); 
header {
  width: 100%;
  height: 20px;
  background-color: #A2E3C4 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
} 

.header-h2-styles {
  font-family: "Tangerine";
  font-size: 60px;
  font-weight: 100;
  color: #3C493F;
  padding-left: 20px;
 }

 .nav-btn {
  font-family: "Abhaya Libre";
  font-weight: 200;
  font-size: 20px;
  color: #7E8D85;
  border: none;
  background-color: #A2E3C4;
 }

 .nav-btn:hover {
  opacity: 0.3;
 }

 nav {
  padding-right: 10px;
 }

@media only screen and (min-width:320px) and (max-width:600px) {
  
  .header-h2-styles {
    font-size: 30px;
    padding-left: 10px;
   }

   .nav-btn {
    font-size: 10px;
   }

}