@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Fleur+De+Leah&display=swap');


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-h1-styles {
  font-size: 40px;
  font-family: "Abhaya Libre";
  padding: 20px 0 0 0;
  color: #3C493F;
}

.form-row-top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}

.form-row-top input {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 30px;
  width: 200px;
  font-size: 20px;
}

.form-prep {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-prep input {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 30px;
  width: 200px;
  font-size: 20px;
}

.form-row-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-3 textarea {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 200px;
  width: 150px;
  font-size: 18px;
}

.form-row-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-4 textarea {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 200px;
  width: 450px;
  font-size: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  background-color: #3C493F;
  color: #f0f7f4;
  border: none;
  height: 30px;
  width: 100px;
  font-family: "Abhaya Libre";
  font-size: 20px;
}