@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine&display=swap'); 

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width:50%;
  padding-bottom: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.form-h1-styles {
  font-size: 40px;
  font-family: "Abhaya Libre";
  padding: 20px 0 0 0;
  color: #3C493F;
}

.form-row-top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}

.form-row-top input {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 30px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #d9f7e8;
}

.form-prep {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-prep input {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 30px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #d9f7e8;
}

.form-row-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-3 textarea {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 200px;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #d9f7e8;
}

.form-row-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-row-4 textarea {
  border: 1px solid #3C493F;
  margin-bottom: 10px;
  font-family: "Abhaya Libre";
  height: 200px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #d9f7e8;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.save-advice-btn {
  background-color: #3C493F;
  color: #f0f7f4;
  border: none;
  height: 30px;
  width: 100px;
  font-family: "Abhaya Libre";
  font-size: 20px;
  border-radius: 5px;
}

.add-recipe-wrapper {
  display: flex;
  justify-content: center;
}

.x-out-recipe-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.x-out-advice-btn {
  border: none;
  background: none;
  font-size: 30px;
  padding: 0 20px;
}

.x-out-advice-btn:hover {
  opacity: 0.5;
}

.save-advice-btn:hover {
  opacity: 0.5;
}

@media only screen and (min-width:320px) and (max-width:600px) {

  .add-recipe-wrapper {
    width: 100%;
  }

  .form-container {
    width:90vw;
  }

  .form-h1-styles {
    font-size: 20px;
  }

  .form-row-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .form-row-top input {
    height: 20px;
    width: 150px;
    font-size: 15px;
  }

  .form-prep input {
    height: 20px;
    width: 200px;
    font-size: 15px;
  }
  .form-row-4 textarea {
    height: 200px;
    width: 100%;
    font-size: 15px;
  }


}