 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Fleur+De+Leah&display=swap');

 h1 {
  font-family: "Fleur De Leah";
  font-size: 80px;
  font-weight: 100;
 }

 h2 {
  font-family: "Abhaya Libre";
  font-weight: 100;
 }