 @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Tangerine&display=swap'); 

.homepage-content-container {
  display: flex;
  flex-direction: column;
}

 .home-welcome-stmt {
  font-family: "Abhaya Libre";
  font-size: 40px;
  color: #3C493F;
  font-weight: 100;
  margin-bottom: 100px;
}

.welcome-banner {
  height: 300px;
  background-color: #3C493F;
  margin-top: 30px;
}

.banner-preserve {
  color: #F0F7F4;
  font-family: "Abhaya Libre";
  font-size: 80px;
  font-weight: 100;
}

.word {
  display: flex;
}

.word span {
  color: #A2E3C4;
  font-family: "Tangerine";
  font-size: 80px;
  font-weight: 100;
  position: relative;
}

.word span::after {
  content: '';
  width: 8px;
  height: 100%;
  background: #A2E3C4;
  display: flex;
  position: absolute;
  right: -10px;
  top: 0;
  animation: blink 0.5s ease infinite alternate-reverse;
}

@keyframes blink {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.word.empty {
  visibility: hidden;
}

.word.empty span::after {
  visibility: visible;
  right: 0;
}

@media only screen and (min-width:320px) and (max-width:600px) {

  .homepage-content-container {
    width: 100%;
  }

  .home-welcome-stmt {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .welcome-banner {
    height: 150px;
    width: 100vw;
  }

  .banner-preserve {
    font-size: 40px;
  }

  .word span {
    font-size: 40px;
  }
}