@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Fleur+De+Leah&display=swap');


.home {
  font-family: "Abhaya Libre";
  font-size: 100px;
  color: #3C493F;
  font-weight: 100;
}